
@import 'bootstrap-4.3.1-dist/css/bootstrap.min.css';
@import 'fontawesome/fontawesome.css';

.z-index-max{
    z-index: 2000;
}
.z-index-9, .z-index-9 > *{
    z-index: 9;
}
.z-index-8, .z-index-8 > *{
    z-index: 8;
}
.z-index-7, .z-index-7 > *{
    z-index: 7;
}
.z-index-6, .z-index-6 > *{
    z-index: 6;
}
.z-index-5, .z-index-5 > *{
    z-index: 5;
}
.z-index-4, .z-index-4 > *{
    z-index: 4;
}
.z-index-3, .z-index-3 > *{
    z-index: 3;
}
.z-index-2, .z-index-2 > *{
    z-index: 2;
}
.z-index-1, .z-index-1 > *{
    z-index: 1;
}
.x-large{
    font-size: x-large;
}
.text-x-large{
    font-size: x-large;
}

.text-large{
    font-size: large;
}
.text-xx-large{
    font-size: xx-large;
}
.text-larger{
    font-size: larger;
}
.text-small{
    font-size: small;
}
.text-x-small{
    font-size: x-small;
}
.text-xx-small{
    font-size: xx-small;
}
.text-smaller{
    font-size: smaller;
}
.navbar-principal{
    top:0px;
    display:flex;
    margin-left: -15px;
}
.carregando{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
}
.centralizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back-menu{
    position: absolute;
    left: 15px;
}

.back-menu-css{
    position: absolute;
    left: 15px;
}
.tela-chat{
    top:0px;
}
.tela-js{
    top:0px;
    overflow-y: auto;
}
/** 
*JANELAS_JS
*/
.janelas{
    top:0px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*
Pagamento
*/
.tela-finalizar-pagamento{
    width: 100vw;height: 100%;overflow: auto;
}
.cabecalho-janela{
    height: 60px;width: 100vw;
}
.back{
    position: absolute;
    left: 15px;
}
/*
Tela Pesquisa
*/
.tela-pesquisa{
    width: 100vw;
    height: 100vh;
    top: 0px;
    overflow-y: auto;
    display: none;
}
.div-pesquisa{

}
/*
    MENU
*/
.notificacao{
    text-shadow: #007bff 1px 1px 1px;
}
.tela-menu{
    top:0px;
    height: 100vh;
    width: 100vw;
    right: 100%;
    overflow-y: auto;
}


/**
*      Compartilhar
*/

.compartilhar{
    min-height: 12vh;
    top: 0vh;
    width: 100vw;
    display: flex;

}
.share-midia{
    height: 100%;
    width: 25%;
}
.share-midia .midia-header{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.share-midia .midia-body{
    width: 100%;
}
.close-compartilhar{
    opacity: 0.0;
    position: absolute;
    top: 12vh;
    height: 88vh;
}
/*
    Cadasttro de usuario
*/
.logo-cad img{
    height: 100px;
    width: 80px
}
.tela-cadastro{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none; 
}
.btn-back{
    position: absolute;
    top: 0px;
    left: 0px;
}

.destaque{
    border-color: #007bff!important;
}

.btn-login{
    
}
.alert-login{
    font-size: smaller;display: none;
}
.tela-login{
    position: fixed;top: 0%;width: 100vw;height: 100vh;display: block;
}
.tela-login .btn-login-cadastrar{
    font-size: large;
}
.login-logo{
    margin-top: 20%;margin-bottom: 10%;
}
.tela-notificacao{
    height: 100%;
    width: 100%;
    top: 60px;
}
.expo-block{
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    overflow-y: auto;
}
.expo-block > *:not(.expo-image-destaque){
    margin: auto;
    text-align: justify;
}
 .preco-ant{
    text-decoration:line-through ;
}

    .expo-back{
        position: absolute;
        top: 15px;
        font-size: x-large;
        text-shadow: 1px 1px 1px blue;
    }
    .expo-block{
        padding: 2%;
        text-align: justify-all;
    }
    .topico{
        text-align: center;
        color: whitesmoke;
    }
    .expo-image-destaque{
        height: 45vh;
        text-align: center;
    }
    .expo-img{
        height: 100%;
    }
    
    .expo-nome{
        font-size: 1.5em;
        position: relative;
        display: none;
    }
    .expo-descricao{
        font-size: large;
    }
    .expo-preco{
        text-align: left;
    }
    .preco-atual{
        font-size: x-large;
        color: #34ce57;
    }
    .preco-ant{
        font-size:large;
        color: #10707f;
    }
    .expo-btn-add{
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: auto;
        text-align: center;
    }
    .expo-btn-add .btn{
        font-size: x-large;
        height: 60px;
    }
    .expo-avaliacao{
        position: absolute;
        right: 15px;
        top:5px;
        color: #e0a800;
        text-shadow:1px 2px 2px; 
        font-size: large;
    }
    .expo-qtd-compra{
        font-size: x-small;
        text-align: left;
    }
    .expo-comentarios-block{
        min-height: 25vh;
    }
    .expo-comentarios{
        font-size: small;
    }
    .expo-vendedor-block{
        min-height: 25vh;
    }
    .expo-box-tamanho{
        position: fixed !important;
        top: 0vh;
        height: 100%;
        padding: 15vh 5vw 15vh 5vw;
        background-color: rgba(255,255,255,0.8);
        overflow-y: auto;
        display: none;
    }
    .expo-tamanho-body{
        background-color: rgb(255,255,255);
        max-width: 422px;
    }
    .expo-tamanho-title{
        border-radius: 2%;
        padding: 4%;
        font-size: x-large;
        margin-bottom: 30px;
    }
    .expo-btn-finalizar{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    /*Formatação de imagens do slide*/
    .expo-slide-img{
        position: fixed;
        background-color: rgba(255,255,255,0.8); 
        top: 0px;
        padding: auto;
        width: 100vw;
        display:none;
    }
    .expo-slide-img-close{
        position: absolute;
        top: 25px;
        right: 25px;
    }
    .expo-slide-img-destaque{
        left: 50px;
        height: 100vh;
    }
    .expo-slide-img-destaque .next{
        right: 100%;
    }
    .expo-slide-img-aside{
        height: 15vh;
        white-space: nowrap;
        width: 100%;
        overflow-x: auto;
        position: absolute;
        bottom: 0px;
    }
    .expo-slide-img-aside > img{
        height: 100%;opacity: 0.5;
    }
    .expo-slide-img-aside .selecionado{
        opacity:1 !important ;
    }
     .expo-ico-carrinho-show{
         position: fixed; top:49vh;right:0px;border-radius: 50% 0% 0% 50%; width: 40px;text-align: center;
    }
    .expo-ico-carrinho-hide i{
        top:49vh;position: absolute; background-color: antiquewhite;opacity: 1;
    }
    .expo-ico-carrinho-hide{
        position: fixed; text-align: center; 
        display: block; height: 100vh;width: 20vw;top:0px;left: 0px;opacity: 0.8;
    }
    
    .expo-ico-carrinho-hide i, .expo-ico-carrinho-show i{
        font-size: 22pt;
        
    }
    .btn-f-compra{
        position: fixed;bottom: 1%;font-size: x-large;
    }
    .expo-lista-compra{
        width: 80vw; height: 100vh;position: fixed;top: 0%;right: 0vw; overflow: auto;display: none;
    }
    .expo-lista-compra-titulo{
        font-size: x-large; text-indent: 2%;padding: 2%;position: fixed; width: 100%; top:-50px; height: 9%;
    }
    .expo-lista-compra-itens{
        font-size: small;
    }
    .expo-lista-compra-img-item{
        width: 80px; 
    }

    /***************************************************************
    *                          CATALOGO DE PRODUTOS                *
    ****************************************************************
    */
    body{

    }
    


    


.catalogo{
        margin-right: 0px !important;margin-left: 0px !important; min-height: 80vh;
}

.cat-produto{
    
}
.cat-add-to-cart{
    display: none;
}
.cat-prod-title{
    font-size: larger;
    width: 92%;
    
    
}

.cat-img-block{
    min-height: 300px;
}
.cat-img{
    max-height: 300px !important; 
}
.cat-legend{
    top: 315px;
    position: absolute;
    font-size: small;
    display: block;
    text-align: left;
    text-decoration: dotted;
}
.cat-prod-descricao{
 text-align: justify;
}
.cat-share{
    width: 80px; 
}
.cat-curtir{
     width: 80px; 
}
.cat-carrinho{
    width: 80px;
}
.cat-social{
    position: absolute;top: 290px; left: 10px; width: 100%; display: flex;background-color: rgba(255,255,255,0.8);
}
.name-user{
    text-transform: capitalize;
}
i[data-favoritado="1"]{
    color:#dc3545!important;
}
.block-compartilhar{
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 60px;
}
.block-compartilhar-close{
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    opacity: .40;
}
.addCarrinhoImg{
    height: 200px;
}
.addCarrinhoNome{
    font-size: x-large;
    text-align: justify;
}
.addCarrinhoDescricao{
    font-size: 1rem !important;
}
.addCarrinhoAvaliacao{
    font-size: 1rem;
}
.addCarrinhoTitulo{
    
}