@import url('bootstrap-4.3.1-dist/css/bootstrap.min.css');
@import url('fontawesome/fontawesome.css');
body{
    overflow-x: hidden;
}
.nome-prod{
    /*font-weight: bold;*/
    display: block;
}
.col-desc{
    display: block;
}
.desc-prod{
    display: block;
}
.preco-prod-ant{
    text-decoration: line-through;
}
.preco-prod-parc{
    font-weight: bold;
}
.hide{
    display: none;
}
@media (max-width:575.98px){
    .bloc-img-aux{
        position: fixed !important;
        height: 80px !important;
        white-space: nowrap;
       bottom: 0%;
       overflow-x: auto;
       overflow-y: auto;
       display: inline-block;
    }
    .bloc-img-aux > .img-aux{
        height: 100% !important;
        opacity: 1;
    }
    .img-prod{
        width: 100%;
    }
    .hide-desc-prod, .hide-nome-prod{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 92%;
    }
    .body-prod{
        height: 100px;
    }
    
    
}