/*Este documento trata esclusivamente da parte de slide 
dos itens da pagina de curtidos.html ja que este é o documento indice.
*/

.img-slide-produto-expand{
    max-height: 50vh;
}
.carousel-control-prev, .carousel-control-next{
    background-color: rgba(0, 0, 0, 0.4);
}
.div-img-slide{
    height:50vh
}