@import url('bootstrap-4.3.1-dist/css/bootstrap.min.css');
@import url('../../css/font-awesome-ext/css/font-awesome.min.css');

.corpo{
    display: block;
    width: 100%;
}
.foto{
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}
.foto img{
    max-height: 100%;
    
}
.ico-camera{
    font-size: 9em;
    margin-top: 50px;
    z-index: 1;
}
.input-foto{
    width: 100%;
    height: 100%;
    z-index: 6;
    position: absolute;
    opacity: 0;
    left: 0px;
}
output img{
    height: 60px; width: 60px;
}
[name=valor] {
    background-color: greenyellow;  
}