@import url('bootstrap-4.3.1-dist/css/bootstrap.min.css');
@import url('fontawesome/fontawesome.css');

output{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 91px;
    white-space: nowrap;
}
output img{
    width: 20%;
}
.ft-prod{
    height: 200px;
}
.ft-prod img{
    max-width: 100%;
}
.ico-camera{
    font-size: 9em;
    position: absolute;
    margin: auto;
    right: 30%;
    margin-bottom: 0px !important;
    margin-top: 50px;
}
.div-input-img{
    height: 250px;
    padding-bottom: -30px;
}

.input-foto{
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 10;
    position: absolute;
    margin-bottom: 0px !important;
    opacity: 0;
    box-sizing: border-box;
}
.img-destaque{
    display: block;
    width: 100%;
}